#weather-info > div {
    flex: 1;
    background: lightskyblue;
    border-radius: 30px;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#weather-info div:nth-child(n+2) {
    display: flex;
    justify-content: space-between;
}

.tempValues {
    background: white;
    border-radius: 15px;
    padding: 10px;
}

#weather-info img {
    margin: auto;
}

#weather-info div:first-child {
    text-align: center;
}
