* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	border: 1px solid red;
}

.wrapper {
	display: flex;
	width: 80%;
	flex-direction: column;
	background-color: rgb(0, 96, 65);
	border: 1px solid blue;
}

header {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.header-footer-headings {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: white;
}

#authors-header {
	color: black;
	width: 50%;
	height: 50%;

}

#authors-header span {
	background-color: rgb(255, 221, 153);
	border-radius: 5px;
	padding: 3px;
}

main {
	display: flex;
	flex-direction: column;
	flex: 6;
	padding: 1em;
	gap: 0.5em;
	background-color: rgb(179, 255, 179);
}

#options {
	flex: 1;
	background-color: white;
	border: 2px dotted red;
	border-radius: 15px;
	padding: 5px;
}

form {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

legend {
	background: lightgray;
	padding: 5px;
	font-weight: bold;
}

input, #country-select {
	margin: 10px;
	padding: 10px;
	border-radius: 15px;
}

#country-select {
	width: 80%;
}

#getWeatherButton {
	background: red;
	color: white;
	font-weight: bold;
	padding: 20px;
	border-radius: 15px;
}

#main-gui {
	display: flex;
	flex-direction: column;
	flex: 4;
	background-color: rgb(191, 191, 191);
	border: 2px solid red;
	border-radius: 15px;
	padding: 1em;
	gap: 1em;
}

#city-info {
	flex: 1;
	background-color: white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
}

.main-gui-headers {
	display: flex;
}

.main-gui-headers h4 {
	margin: auto;
	background-color: lightgray;
}

#weather-info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex: 7;
	background-color: rgb(179, 255, 179);
	border-radius: 15px;
	padding: 1em;
	gap: 1em;
}

footer {
	display: flex;
	flex: 0.5;
	text-align: center;
	justify-items: center;
}
